/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#products-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 10%;
}

.visible-product {
	border: 1px dashed black;
}

img {
	max-width: 100%;
	max-height: 100%;
}
